<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="HostLibraryPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>proy.entidades.Cargo</class>
    <class>proy.entidades.Boleta</class>
    <class>proy.entidades.Publicador</class>
    <class>proy.entidades.EmpleadoLog</class>
    <class>proy.entidades.BoletaDetalle</class>
    <class>proy.entidades.Libro</class>
    <class>proy.entidades.Autor</class>
    <class>proy.entidades.Tienda</class>
    <class>proy.entidades.Empleado</class>
    <class>proy.entidades.VwVentasempleado</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/hostlibrary"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="mysql"/>
    </properties>
  </persistence-unit>
</persistence>
